# {{ ansible_managed }}

[Unit]
Description=Shutdown CRI-O containers before shutting down the system
After=crio.service
Wants=crio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/crictl rm -af

[Install]
WantedBy=multi-user.target
